* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

nav div {

    display: inline-block;
    width: 19%;
    height: 50px;
    padding-left: 70px;
}

a {
    color: black;
}

nav>div img {
    margin-top: 10px;
    padding-right: 100px;
    height: 200px;
    z-index: 1;
    position: absolute;
}

section .arkaplan {

    width: 100%;
    height: 100%;
    background-image: url("../images/arkaplan2.jpg");


}



.boyut {
    margin-top: 300px;
    width: 30%;
    display: inline-block;
    border-radius: 10%;
    border: 3px solid cadetblue;
    height: 600px;
    background-color: brown;
    margin-left: 30px;
}

.baslik {
    margin-top: 250px;
    position: absolute;
    text-align: center;
    color:aliceblue;
    text-decoration: underline  cyan;
    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
    z-index: 2;
}

.aciklama {
    background-color: white;
    color: black;
}

.fiyat {
    background-color: white;
    color: black;
}

img {
    height: 500px;
    width: 300px
}
.bosluk{
    margin-top: 30px;
}
footer{
    background-color:darkred;
    color: white;
    height: 50px;
    position:fixed;
    bottom:0;
    width:100%;
}
.explain{
  background-color:white;
  width: 85%;
  border-radius:5px;
font-size:28px;
height: 370px;

}
.anasayfa{
    width:100%;
    background-color: transparent;
    border:none;
    margin-top:180px;
}
.anasayfa img{
    width:1200px;
   
}